aiohttp==0.21.6
chardet==2.3.0
discord.py==0.11.0
inflect==0.2.5
irc==14.2.2
jaraco.classes==1.4
jaraco.collections==1.4.1
jaraco.functools==1.12
jaraco.itertools==1.7.1
jaraco.logging==1.5
jaraco.stream==1.1.1
jaraco.text==1.8
more-itertools==2.2
pytz==2016.6.1
six==1.10.0
tempora==1.4
websockets==3.1
